<footer class="bg-dark text-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <h3>Subscribe</h3>
                <p>Subscribe Register and get notified about all the news & updates before it gets too late</p>
                <form>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Your Email">
                        <button type="submit" class="btn btn-warning">Sign Up</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 mb-4 d-flex flex-column align-items-center justify-content-center">
                <h3>Explore</h3>
                <ul class="list-unstyled">
                    <li><a href="#" style="text-decoration: none; color: white;">Home</a></li>
                    <li><a href="#" style="text-decoration: none; color: white;">Recipes</a></li>
                    <li><a href="#" style="text-decoration: none; color: white;">About Us</a></li>
                    <li><a href="#" style="text-decoration: none; color: white;">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-4 d-flex flex-column align-items-center">
                <h3>Contact Us</h3>
                <address>
                    kafr-helal<br>
                    Berket-Elsabae, Menofia<br>
                    Email: abdo12hamoud@gmail.com<br>
                    Phone: 012-763-459-95
                </address>
            </div>
            <div class="social-icons-container d-flex justify-content-center align-items-center mt-3">
                <!-- Add your social icons here with appropriate classes -->
                <fa-icon [icon]="['fab', 'facebook']" class="brand-icon me-3"></fa-icon>
                <fa-icon [icon]="['fab', 'twitter']" class="brand-icon me-3"></fa-icon>
                <fa-icon [icon]="['fab', 'instagram']" class="brand-icon me-3"></fa-icon>
                <fa-icon [icon]="['fab', 'youtube']" class="brand-icon me-3"></fa-icon>
            </div>
            
        </div>
    </div>
    <div class="bg-warning text-center py-2">
        <div class="container">
            &copy; 2023 Dish Discovery | All Rights Reserved
        </div>
    </div>
</footer>
