<div class="d-flex justify-content-center my-5">
    <div class="d-flex flex-column align-items-center">
        <img class="img img-fluid rounded-circle w-75" src="assets/image04.jpg" alt="first Category">
        <a class="text-center fw-bold text-decoration-none text-dark mt-2" href="#">Appetizers</a>
    </div>
    <div class="d-flex flex-column align-items-center">
        <img class="img img-fluid rounded-circle w-75" src="assets/image05.jpg" alt="Second Category">
        <a class="text-center fw-bold text-decoration-none text-dark mt-2" href="#">Beef</a>
    </div>
    <div class="d-flex flex-column align-items-center">
        <img class="img img-fluid rounded-circle w-75" src="assets/image06.jpg" alt="Third Category">
        <a class="text-center fw-bold text-decoration-none text-dark mt-2" href="#">Chicken</a>
    </div>
    <div class="d-flex flex-column align-items-center">
        <img class="img img-fluid rounded-circle w-75" src="assets/image07.jpg" alt="Fourth Category">
        <a class="text-center fw-bold text-decoration-none text-dark mt-2" href="#">Vegetarian</a>
    </div>
    <div class="d-flex flex-column align-items-center">
        <img class="img img-fluid rounded-circle w-75" src="assets/image08.jpg" alt="Fifth Category">
        <a class="text-center fw-bold text-decoration-none text-dark mt-2" href="#">Desserts</a>
    </div>
</div>